data/nestedsamplingtest8*
*margresults.npy
*margresults.npz
*sigmarglogz*
*bkgmarglogz*
*edisplist_direct*
*_direct*
*bkgresult*
*propresult*
**pycache**
*irfvalues.npy
*irfproblist*
*edispmatrix*
*psfmatrix*
*edispnormalisation*
*psfnormalisation*
*astrophysicalbackground*
*logbackgroundprior*
*cpython*
*CR_BKG*
*gll_iem_v07*
*log_signal_marginalisations*
*BranchingFactors*
*.gif
*.jpg
*giffolder*
*build*
*dist*
*.DS_Store
*plotter.ipynb