data/nestedsamplingtest8*
data/*
build/*
dist/*
*margresults.npy
*margresults.npz
*sigmarglogz*
*bkgmarglogz*
*edisplist_direct*
*_direct*
*bkgresult*
*propresult*
**pycache**
*irfvalues.npy
*irfproblist*
*edispmatrix*
*psfmatrix*
*edispnormalisation*
*psfnormalisation*
*astrophysicalbackground*
*unnormalised*
*logbackgroundprior*
*cpython*
*gll_iem_v07*
*log_signal_marginalisations*
*BranchingFactors*
*.gif
*.jpg
*giffolder*
*build*
*dist*
*.DS_Store
*plotter.ipynb
*log_edisp_normalisations*
*log_psf_normalisations*
**/prod5/*.FITS
*event*
*measured*
*samples*
*.pkl
*norm_matrix.npy*
docs/tutorials/irf_norm_matrix.npy
docs/tutorials/test_results.pkl
