include gammabayes/package_data/*.gz
include gammabayes/package_data/*.txt
include gammabayes/package_data/*.fits
include gammabayes/dark_matter/channel_spectra/PPPC_Tables/*
include gammabayes/dark_matter/220913_145357/bfmlambdaarray.npy
include gammabayes/dark_matter/220913_145357/lambdarange.npy
include gammabayes/dark_matter/220913_145357/massrange.npy
include gammabayes/dark_matter/dark_matter_spectra/AtProduction_gammas.dat
include gammabayes/dark_matter/darkSUSY_BFs/darkSUSY_BFs_cleaned*
include gammabayes/dark_matter/temp/*
include gammabayes/irf_file_fits/*